body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  padding-top: 15px;

}

a.navbar-brand {
	color: white !important;
	font-size: 36px;
}

a.navbar-brand:hover {
	color: #5EBFFF !important;
}



.socal {
	color: white;
	max-width: 15px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	display: inline;
}
/*.navbar-default {
	background-color: white;
	border-color: black;
}
*/

.navbar-default {
	background-color: #575C5C;
	
}

.navbar-default .navbar-nav>li>a {
	background-color: #575C5C;
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #5EBFFF;
}

.navbar-right {
	padding-right: 45px;
}




